{% extends 'base.html.twig' %}

{% block body %}
{% if error %}
<div class="alert alert-dark alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong class="danger">{{ error.messageKey|trans(error.messageData, 'security') }} </strong>
</div>
{% endif %}

<form action="{{ path('security_login') }}" method="POST">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username"
        required="required" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" placeholder="Password" required="required" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-success" type="submit">Se connecter</button>
</form>
{% endblock %}