{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-center">Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
</div>



{% endblock %}