{% extends "base-login.html.twig" %}
{% block title %}
505 : Error
{% endblock %}
{% block body %}
<div class="container" style="height: 457px;">
	<div class="row">
		<div class="col-md-12">
			<div class="error-template text-center">
				<h1>
					Oops!</h1>
				<h2>
					500 Error</h2>
				<div class="error-details">
					{{exception.message}}
					{{ app.request.requesturi }}
				</div>
				<div class="error-actions">
					<a href="{{ path('show_tricks') }}" class="btn btn-primary btn-lg"><span
							class="glyphicon glyphicon-home"></span>
						Back home</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}